/* Everything CSS 
---------------------------------------*/
body {
    background-color: #ffd848;
    margin: 0;
    overflow: scroll;  
}

h1, h2, h3, h4, h5, h6 {
  color: #131516;
  font-weight: 400;
}
h1 {
  line-height: 40px;
  font-size: 36px;
}
h2 {
  line-height: 36px;
  font-size: 24px;
}
h3 {
  line-height: 30px;
  font-size: 21px;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
h5 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}
h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

/* Top Header
---------------------------------------*/
.header {
    background-color: #551a7d;
}

.Logo {
    display: block;
    height: auto;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

.header li a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    color: white;
}

.App-intro {
    font-size: large;
}

/* Bottom Footer
---------------------------------------*/

.Footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    color: white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#f5477b), to(#c23c63));
}

.GithubLogo {
    color: white;
}

.GithubLogo:hover {
    color:#d8d8d8;
}

/*
--------- Profile*/

.Profile-header{
    border-radius: 15px;
    border: 4px solid;
    background: white;
    font-family: 'Open Sans', sans-serif;

}

.user-name{
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    text-align: center;
}

.info {
    font-size: medium;
    text-align: left;
}

.time {
    font-size: small;
    text-align: left;
}

.image {
    text-align: center;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-align: center;
}

