/* Bottom Footer
---------------------------------------*/
.Footer {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	color: white;
	background-color: #4d90fe;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#be00ab), to(#ea5ad9));
}

.GithubLogo {
	color: white;
}

.GithubLogo:hover {
	color:#d8d8d8;
}
